NEXT_PUBLIC_WEBSITE_URL=https://treabo.example.com

TREABO_API_ENDPOINT=http://api:8000/api
NEXT_PUBLIC_TREABO_API_ENDPOINT=https://api.treabo.example.com/api

NEXT_PUBLIC_REST_API_ENDPOINT=https://api.treabo.example.com/api
NEXT_PUBLIC_API_URL=https://api.treabo.example.com/api

NEXT_PUBLIC_DEFAULT_LANGUAGE=ro
NEXT_PUBLIC_ENABLE_MULTI_LANG=true
NEXT_PUBLIC_AVAILABLE_LANGUAGES=ro,ru

APPLICATION_MODE=production
