NEXT_PUBLIC_WEBSITE_URL=https://treabo.ru

TREABO_API_ENDPOINT=http://api:8000/api
NEXT_PUBLIC_TREABO_API_ENDPOINT=/api/treabo

NEXT_PUBLIC_REST_API_ENDPOINT=https://treabo.ru/api
NEXT_PUBLIC_API_URL=https://treabo.ru/api
NEXT_PUBLIC_ADMIN_URL=https://seller.treabo.ru

NEXT_PUBLIC_DEFAULT_LANGUAGE=ru
NEXT_PUBLIC_ENABLE_MULTI_LANG=false
NEXT_PUBLIC_AVAILABLE_LANGUAGES=ru

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_placeholder

APPLICATION_MODE=production
